[submodule "asl"]
	path = asl
	url = https://github.com/align-racing-uia/align_standard_library
[submodule "w25q"]
	path = w25q
	url = https://github.com/Crazy-Geeks/STM32-W25Q-QSPI
[submodule "TinyEKF"]
	path = TinyEKF
	url = https://github.com/simondlevy/TinyEKF.git
